@import "tailwindcss";

@property --colour-white {
    syntax: "<color>";
    initial-value: oklch(0.8 0 0);
    inherits: false;
}

@property --colour-black {
    syntax: "<color>";
    initial-value: oklch(0.2 0 0);
    inherits: false;
}

@property --colour-blue {
    syntax: "<color>";
    initial-value: oklch(82.65% 0.066 250.73);
    inherits: false;
}

@property --colour-red {
    syntax: "<color>";
    initial-value: oklch(40.42% 0.107 21.64);
    inherits: false;
}

:root {
    margin: 0;
    padding: 0;
}

body {
    background-color: light-dark(var(--colour-white), var(--colour-black));
    color: light-dark(var(--colour-black), var(--colour-white));
}

.dark {
    color-scheme: only dark;
}

.light {
    color-scheme: only light;
}
